In [1]:
import pandas as pd

In [66]:
# https://www.kaggle.com/datasets/isaactaylorofficial/imdb-10000-most-voted-feature-films-041118?resource=download&select=movies.csv
df = pd.read_csv('movies.csv', on_bad_lines='skip')

In [3]:
df

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
0,1,The Shawshank Redemption,1994,9.3,80.0,Drama,2011509,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
1,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",1980200,Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
2,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",1760209,Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
3,4,Fight Club,1999,8.8,66.0,Drama,1609459,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
4,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",1570194,Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,When Night Is Falling,1995,6.6,NaN,"Drama, Romance",6022,Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ..."
9996,9997,Stachka,1925,7.6,NaN,Drama,6021,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...
9997,9998,November Criminals,2017,5.3,31.0,"Crime, Drama, Mystery",6020,Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D...."
9998,9999,120,2008,7.3,NaN,"Drama, History, War",6018,Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ..."
9999,10000,The Terror,1963,5.0,NaN,"Horror, Thriller",6015,Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...

In [4]:
df.shape

(10000, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         10000 non-null  int64
 1   Title        10000 non-null  object
 2   Year         10000 non-null  int64
 3   Score        10000 non-null  float64
 4   Metascore    6781 non-null   float64
 5   Genre        10000 non-null  object
 6   Vote         10000 non-null  int64
 7   Director     9999 non-null   object
 8   Runtime      10000 non-null  int64
 9   Revenue      7473 non-null   float64
 10  Description  10000 non-null  object
dtypes: float64(3), int64(4), object(4)
memory usage: 859.5+ KB

In [6]:
pd.set_option('display.max_columns', 11)
df

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
0,1,The Shawshank Redemption,1994,9.3,80.0,Drama,2011509,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
1,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",1980200,Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
2,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",1760209,Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
3,4,Fight Club,1999,8.8,66.0,Drama,1609459,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
4,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",1570194,Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,When Night Is Falling,1995,6.6,NaN,"Drama, Romance",6022,Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ..."
9996,9997,Stachka,1925,7.6,NaN,Drama,6021,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...
9997,9998,November Criminals,2017,5.3,31.0,"Crime, Drama, Mystery",6020,Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D...."
9998,9999,120,2008,7.3,NaN,"Drama, History, War",6018,Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ..."
9999,10000,The Terror,1963,5.0,NaN,"Horror, Thriller",6015,Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...

In [7]:
df.head()

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
0,1,The Shawshank Redemption,1994,9.3,80.0,Drama,2011509,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
1,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",1980200,Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
2,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",1760209,Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
3,4,Fight Club,1999,8.8,66.0,Drama,1609459,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
4,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",1570194,Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."

In [8]:
df.tail()

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
9995,9996,When Night Is Falling,1995,6.6,NaN,"Drama, Romance",6022,Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ..."
9996,9997,Stachka,1925,7.6,NaN,Drama,6021,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...
9997,9998,November Criminals,2017,5.3,31.0,"Crime, Drama, Mystery",6020,Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D...."
9998,9999,120,2008,7.3,NaN,"Drama, History, War",6018,Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ..."
9999,10000,The Terror,1963,5.0,NaN,"Horror, Thriller",6015,Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...

In [9]:
df.sample(5)

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
5146,5147,St. Trinian's,2007,5.8,39.0,"Comedy, Family",20014,Oliver Parker,97,NaN,"In order to save their bankrupt school, a grou..."
4122,4123,In the Land of Women,2007,6.5,47.0,"Comedy, Drama, Romance",29737,Jonathan Kasdan,97,11.04,A sleazy writer has a chance to redeem himself...
2993,2994,Irrational Man,2015,6.6,53.0,"Comedy, Drama",48005,Woody Allen,95,4.03,A tormented philosophy professor finds a will ...
934,935,Lion,2016,8.1,69.0,"Biography, Drama",167997,Garth Davis,118,51.69,A five-year-old Indian boy gets lost on the st...
3055,3056,Rumor Has It...,2005,5.5,35.0,"Comedy, Drama, Romance",46845,Rob Reiner,97,43.00,Sarah Huttinger is a woman who learns that her...

In [10]:
df[['Score', 'Metascore', 'Vote']]

      Score  Metascore     Vote
0       9.3       80.0  2011509
1       9.0       84.0  1980200
2       8.8       74.0  1760209
3       8.8       66.0  1609459
4       8.9       94.0  1570194
...     ...        ...      ...
9995    6.6        NaN     6022
9996    7.6        NaN     6021
9997    5.3       31.0     6020
9998    7.3        NaN     6018
9999    5.0        NaN     6015

[10000 rows x 3 columns]

In [11]:
df.columns

Index(['Rank', 'Title', 'Year', 'Score', 'Metascore', 'Genre', 'Vote',
       'Director', 'Runtime', 'Revenue', 'Description'],
      dtype='object')

In [12]:
df.loc[0]

Rank                                                           1
Title                                   The Shawshank Redemption
Year                                                        1994
Score                                                        9.3
Metascore                                                   80.0
Genre                                                      Drama
Vote                                                     2011509
Director                                          Frank Darabont
Runtime                                                      142
Revenue                                                    28.34
Description    Two imprisoned men bond over a number of years...
Name: 0, dtype: object

In [13]:
df.loc[[0,1]]

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
0,1,The Shawshank Redemption,1994,9.3,80.0,Drama,2011509,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
1,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",1980200,Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...

In [14]:
df.loc[[0,1,2], 'Genre']

0                        Drama
1         Action, Crime, Drama
2    Action, Adventure, Sci-Fi
Name: Genre, dtype: object

In [15]:
df.iloc[[0,1,2], 5]

0                        Drama
1         Action, Crime, Drama
2    Action, Adventure, Sci-Fi
Name: Genre, dtype: object

In [16]:
df.loc[[0,1], ['Year', 'Title']]

   Year                     Title
0  1994  The Shawshank Redemption
1  2008           The Dark Knight

In [17]:
df['Score'].value_counts()

7.2    431
7.3    422
7.1    391
6.8    387
6.6    386
      ...
1.5      1
9.3      1
1.6      1
9.2      1
9.6      1
Name: Score, Length: 82, dtype: int64

In [18]:
df['Genre'].value_counts()

Comedy, Drama, Romance     494
Drama                      482
Comedy, Drama              407
Drama, Romance             365
Comedy                     357
                          ...
Comedy, Family, Mystery      1
Drama, Crime                 1
Horror, Music, Mystery       1
Music                        1
Drama, Mystery, Music        1
Name: Genre, Length: 486, dtype: int64

In [19]:
df['Director'].value_counts()

Woody Allen         48
Alfred Hitchcock    38
Clint Eastwood      35
Steven Spielberg    31
Ridley Scott        25
                    ..
Neeraj Ghaywan       1
Nash Edgerton        1
Ildikó Enyedi        1
Shira Piven          1
Özhan Eren           1
Name: Director, Length: 3907, dtype: int64

In [20]:
df.loc[[0,5,10], 'Director']

0        Frank Darabont
5       Robert Zemeckis
10    Christopher Nolan
Name: Director, dtype: object

In [21]:
df.loc[0:10, ['Director', 'Revenue']]

                Director  Revenue
0         Frank Darabont    28.34
1      Christopher Nolan   534.86
2      Christopher Nolan   292.58
3          David Fincher    37.03
4      Quentin Tarantino   107.93
5        Robert Zemeckis   330.25
6          Peter Jackson   315.54
7         Lana Wachowski   171.48
8          Peter Jackson   377.85
9   Francis Ford Coppola   134.97
10     Christopher Nolan   448.14

In [22]:
df.loc[[0,1], ['Year', 'Title']]

   Year                     Title
0  1994  The Shawshank Redemption
1  2008           The Dark Knight

In [23]:
df['Score'].value_counts()

7.2    431
7.3    422
7.1    391
6.8    387
6.6    386
      ...
1.5      1
9.3      1
1.6      1
9.2      1
9.6      1
Name: Score, Length: 82, dtype: int64

In [24]:
df.loc[[0,5,10], 'Director']

0        Frank Darabont
5       Robert Zemeckis
10    Christopher Nolan
Name: Director, dtype: object

In [25]:
df.loc[0:10, ['Director', 'Revenue']]

                Director  Revenue
0         Frank Darabont    28.34
1      Christopher Nolan   534.86
2      Christopher Nolan   292.58
3          David Fincher    37.03
4      Quentin Tarantino   107.93
5        Robert Zemeckis   330.25
6          Peter Jackson   315.54
7         Lana Wachowski   171.48
8          Peter Jackson   377.85
9   Francis Ford Coppola   134.97
10     Christopher Nolan   448.14

In [26]:
df.set_index('Runtime', inplace = True) #Seleccionar una columna como índice

In [27]:
df.index

Int64Index([142, 152, 148, 139, 154, 142, 178, 136, 201, 175,
            ...
            103,  90, 125, 105,  94,  94,  95,  85, 114,  81],
           dtype='int64', name='Runtime', length=10000)

In [28]:
df.reset_index(inplace = True)
df.index

RangeIndex(start=0, stop=10000, step=1)

In [29]:
df2 = df = pd.read_csv('movies.csv', on_bad_lines='skip', index_col = 'Vote')

In [30]:
df2.loc[1980200]

Rank                                                           2
Title                                            The Dark Knight
Year                                                        2008
Score                                                        9.0
Metascore                                                   84.0
Genre                                       Action, Crime, Drama
Director                                       Christopher Nolan
Runtime                                                      152
Revenue                                                   534.86
Description    When the menace known as the Joker emerges fro...
Name: 1980200, dtype: object

In [31]:
df['Director'] == 'Christopher Nolan'

Vote
2011509    False
1980200     True
1760209     True
1609459    False
1570194    False
           ...
6022       False
6021       False
6020       False
6018       False
6015       False
Name: Director, Length: 10000, dtype: bool

In [32]:
filtro = df['Director'] == 'Christopher Nolan'
df[filtro]

,Rank,Title,Year,Score,Metascore,Genre,Director,Runtime,Revenue,Description
Vote,,,,,,,,,,
1980200,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
1760209,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
1338413,11,The Dark Knight Rises,2012,8.4,78.0,"Action, Thriller",Christopher Nolan,164,448.14,Eight years after the Joker's reign of anarchy...
1223159,14,Interstellar,2014,8.6,74.0,"Adventure, Drama, Sci-Fi",Christopher Nolan,169,188.02,A team of explorers travel through a wormhole ...
1150820,17,Batman Begins,2005,8.3,70.0,"Action, Adventure, Thriller",Christopher Nolan,140,206.85,"After training with his mentor, Batman begins ..."
1022475,25,The Prestige,2006,8.5,66.0,"Drama, Mystery, Sci-Fi",Christopher Nolan,130,53.09,"After a tragic accident, two stage magicians e..."
997174,28,Memento,2000,8.5,80.0,"Mystery, Thriller",Christopher Nolan,113,25.54,A man with short-term memory loss attempts to ...
426292,230,Dunkirk,2017,7.9,94.0,"Action, Drama, History",Christopher Nolan,106,188.37,"Allied soldiers from Belgium, the British Empi..."
247555,552,Insomnia,2002,7.2,78.0,"Drama, Mystery, Thriller",Christopher Nolan,118,67.36,Two Los Angeles homicide detectives are dispat...
76374,2103,Following,1998,7.6,60.0,"Crime, Mystery, Thriller",Christopher Nolan,69,0.05,A young writer who follows strangers for mater...

In [33]:
df.loc[filtro, 'Title']

Vote
1980200          The Dark Knight
1760209                Inception
1338413    The Dark Knight Rises
1223159             Interstellar
1150820            Batman Begins
1022475             The Prestige
997174                   Memento
426292                   Dunkirk
247555                  Insomnia
76374                  Following
Name: Title, dtype: object

In [34]:
filtro1 = (df['Director'] == 'Christopher Nolan')&(df['Score']>= 8.5)
df[filtro1]

,Rank,Title,Year,Score,Metascore,Genre,Director,Runtime,Revenue,Description
Vote,,,,,,,,,,
1980200,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
1760209,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
1223159,14,Interstellar,2014,8.6,74.0,"Adventure, Drama, Sci-Fi",Christopher Nolan,169,188.02,A team of explorers travel through a wormhole ...
1022475,25,The Prestige,2006,8.5,66.0,"Drama, Mystery, Sci-Fi",Christopher Nolan,130,53.09,"After a tragic accident, two stage magicians e..."
997174,28,Memento,2000,8.5,80.0,"Mystery, Thriller",Christopher Nolan,113,25.54,A man with short-term memory loss attempts to ...

In [35]:
df.loc[filtro1, 'Title']

Vote
1980200    The Dark Knight
1760209          Inception
1223159       Interstellar
1022475       The Prestige
997174             Memento
Name: Title, dtype: object

In [36]:
filtro2 = (df['Director'] == 'Christopher Nolan')|(df['Score']>= 8.5)
df[filtro2]

,Rank,Title,Year,Score,Metascore,Genre,Director,Runtime,Revenue,Description
Vote,,,,,,,,,,
2011509,1,The Shawshank Redemption,1994,9.3,80.0,Drama,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
1980200,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
1760209,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
1609459,4,Fight Club,1999,8.8,66.0,Drama,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
1570194,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
...,...,...,...,...,...,...,...,...,...,...
7021,9162,Aruvi,2016,8.9,NaN,Drama,Arun Prabhu Purushothaman,130,NaN,A gentle girl born and brought up amidst the e...
6853,9295,Canim Kardesim,1973,8.8,NaN,Drama,Ertem Egilmez,92,NaN,Two poor men try to find a television as a las...
6450,9604,Aloko Udapadi,2017,9.6,NaN,"Drama, History",Chathra Weeraman,113,NaN,Aloko Udapadi (Light Arose) is an Epic Film of...
6422,9630,Graves End,2005,8.8,NaN,"Thriller, Mystery",James Marlowe,90,NaN,When society turns their back on reformed felo...
6041,9975,Zübük,1980,8.5,NaN,"Comedy, Crime",Kartal Tibet,88,NaN,This is the story of the politician named Zubu...

In [37]:
df.loc[-filtro1]

,Rank,Title,Year,Score,Metascore,Genre,Director,Runtime,Revenue,Description
Vote,,,,,,,,,,
2011509,1,The Shawshank Redemption,1994,9.3,80.0,Drama,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
1609459,4,Fight Club,1999,8.8,66.0,Drama,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
1570194,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
1532024,6,Forrest Gump,1994,8.8,82.0,"Drama, Romance",Robert Zemeckis,142,330.25,"The presidencies of Kennedy and Johnson, Vietn..."
1448561,7,The Lord of the Rings: The Fellowship of the Ring,2001,8.8,92.0,"Adventure, Drama, Fantasy",Peter Jackson,178,315.54,A meek Hobbit from the Shire and eight compani...
...,...,...,...,...,...,...,...,...,...,...
6022,9996,When Night Is Falling,1995,6.6,NaN,"Drama, Romance",Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ..."
6021,9997,Stachka,1925,7.6,NaN,Drama,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...
6020,9998,November Criminals,2017,5.3,31.0,"Crime, Drama, Mystery",Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D...."
6018,9999,120,2008,7.3,NaN,"Drama, History, War",Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ..."
6015,10000,The Terror,1963,5.0,NaN,"Horror, Thriller",Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...

In [38]:
high_score = df['Score']>= 9.3
df[high_score]

,Rank,Title,Year,Score,Metascore,Genre,Director,Runtime,Revenue,Description
Vote,,,,,,,,,,
2011509,1,The Shawshank Redemption,1994,9.3,80.0,Drama,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
98484,1646,Dag II,2016,9.4,NaN,"Drama, War",Alper Caglar,135,NaN,In a desolate war zone where screams of the in...
32457,3915,Hababam Sinifi,1975,9.4,NaN,"Comedy, Drama",Ertem Egilmez,87,NaN,"Lazy, uneducated students share a very close b..."
17926,5483,Aynabaji,2016,9.4,NaN,"Crime, Mystery, Thriller",Amitabh Reza Chowdhury,147,NaN,Ayna is an actor and the prison is his stage. ...
15447,5980,Wheels,2014,9.4,NaN,Drama,Tim Gagliardo,115,NaN,Two suicidal paraplegic junkies hustle their w...
6450,9604,Aloko Udapadi,2017,9.6,NaN,"Drama, History",Chathra Weeraman,113,NaN,Aloko Udapadi (Light Arose) is an Epic Film of...

In [39]:
df.loc[high_score, ['Title', 'Revenue']]

                            Title  Revenue
Vote
2011509  The Shawshank Redemption    28.34
98484                      Dag II      NaN
32457              Hababam Sinifi      NaN
17926                    Aynabaji      NaN
15447                      Wheels      NaN
6450                Aloko Udapadi      NaN

In [40]:
df['Genre']

Vote
2011509                        Drama
1980200         Action, Crime, Drama
1760209    Action, Adventure, Sci-Fi
1609459                        Drama
1570194                 Crime, Drama
                     ...
6022                  Drama, Romance
6021                           Drama
6020           Crime, Drama, Mystery
6018             Drama, History, War
6015                Horror, Thriller
Name: Genre, Length: 10000, dtype: object

In [41]:
genero = ['Drama']
filtro3 = df['Genre'].isin(genero)
df.loc[filtro3, 'Genre']

Vote
2011509    Drama
1609459    Drama
959669     Drama
799024     Drama
676482     Drama
           ...
6051       Drama
6050       Drama
6047       Drama
6030       Drama
6021       Drama
Name: Genre, Length: 482, dtype: object

In [42]:
filtro4 = df['Genre'].str.contains('Drama')
df.loc[filtro4, 'Genre']

Vote
2011509                    Drama
1980200     Action, Crime, Drama
1609459                    Drama
1570194             Crime, Drama
1532024           Drama, Romance
                   ...
6024               Comedy, Drama
6022              Drama, Romance
6021                       Drama
6020       Crime, Drama, Mystery
6018         Drama, History, War
Name: Genre, Length: 5572, dtype: object

In [43]:
df.columns

Index(['Rank', 'Title', 'Year', 'Score', 'Metascore', 'Genre', 'Director',
       'Runtime', 'Revenue', 'Description'],
      dtype='object')

In [44]:
df.columns = [x.upper() for x in df.columns]
df.columns

Index(['RANK', 'TITLE', 'YEAR', 'SCORE', 'METASCORE', 'GENRE', 'DIRECTOR',
       'RUNTIME', 'REVENUE', 'DESCRIPTION'],
      dtype='object')

In [45]:
df.rename(columns = {'TITLE': 'English Title', 'SCORE':'Puntuacion'}, inplace=True)
df.columns

Index(['RANK', 'English Title', 'YEAR', 'Puntuacion', 'METASCORE', 'GENRE',
       'DIRECTOR', 'RUNTIME', 'REVENUE', 'DESCRIPTION'],
      dtype='object')

In [49]:
df.columns = df.columns.str.replace(' ', '_')
df.columns

Index(['RANK', 'English_Title', 'YEAR', 'Puntuacion', 'METASCORE', 'GENRE',
       'DIRECTOR', 'RUNTIME', 'REVENUE', 'DESCRIPTION'],
      dtype='object')

In [53]:
df.loc[0, ['English_Title', 'Puntuacion']]

English_Title    The Mandalorian
Puntuacion                   9.5
Name: 0, dtype: object

In [52]:
df.loc[0, ['English_Title', 'Puntuacion']] = ['The Mandalorian', 9.5]
df.loc[0]

RANK                         NaN
English_Title    The Mandalorian
YEAR                         NaN
Puntuacion                   9.5
METASCORE                    NaN
GENRE                        NaN
DIRECTOR                     NaN
RUNTIME                      NaN
REVENUE                      NaN
DESCRIPTION                  NaN
Name: 0, dtype: object

In [54]:
df.loc[0, ['English_Title']] = 'Batman'
df.loc[0]

RANK                NaN
English_Title    Batman
YEAR                NaN
Puntuacion          9.5
METASCORE           NaN
GENRE               NaN
DIRECTOR            NaN
RUNTIME             NaN
REVENUE             NaN
DESCRIPTION         NaN
Name: 0, dtype: object

In [55]:
filtro5 = (df['English_Title'])=='Batman'
df.loc[filtro5, 'YEAR']

Vote
303963    1989.0
0            NaN
Name: YEAR, dtype: float64

In [56]:
df.loc[filtro5, 'YEAR'] = 2000
df.loc[filtro5, 'YEAR']

Vote
303963    2000.0
0         2000.0
Name: YEAR, dtype: float64

In [57]:
df['English_Title'].apply(len)

Vote
2011509    24
1980200    15
1760209     9
1609459    10
1570194    12
           ..
6021        7
6020       18
6018        3
6015       10
0           6
Name: English_Title, Length: 10001, dtype: int64

In [58]:
def actualizarTitulo(titulo):
  return titulo.upper()

df['English_Title'].apply(actualizarTitulo)

Vote
2011509    THE SHAWSHANK REDEMPTION
1980200             THE DARK KNIGHT
1760209                   INCEPTION
1609459                  FIGHT CLUB
1570194                PULP FICTION
                     ...
6021                        STACHKA
6020             NOVEMBER CRIMINALS
6018                            120
6015                     THE TERROR
0                            BATMAN
Name: English_Title, Length: 10001, dtype: object

In [60]:
df['English_Title'] = df['English_Title'].apply(lambda x: x.lower())
df

,RANK,English_Title,YEAR,Puntuacion,METASCORE,GENRE,DIRECTOR,RUNTIME,REVENUE,DESCRIPTION
Vote,,,,,,,,,,
2011509,1.0,the shawshank redemption,1994.0,9.3,80.0,Drama,Frank Darabont,142.0,28.34,Two imprisoned men bond over a number of years...
1980200,2.0,the dark knight,2008.0,9.0,84.0,"Action, Crime, Drama",Christopher Nolan,152.0,534.86,When the menace known as the Joker emerges fro...
1760209,3.0,inception,2010.0,8.8,74.0,"Action, Adventure, Sci-Fi",Christopher Nolan,148.0,292.58,A thief who steals corporate secrets through t...
1609459,4.0,fight club,1999.0,8.8,66.0,Drama,David Fincher,139.0,37.03,An insomniac office worker and a devil-may-car...
1570194,5.0,pulp fiction,1994.0,8.9,94.0,"Crime, Drama",Quentin Tarantino,154.0,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
...,...,...,...,...,...,...,...,...,...,...
6021,9997.0,stachka,1925.0,7.6,NaN,Drama,Sergei M. Eisenstein,95.0,NaN,A group of oppressed factory workers go on str...
6020,9998.0,november criminals,2017.0,5.3,31.0,"Crime, Drama, Mystery",Sacha Gervasi,85.0,NaN,"After his friend is murdered, a Washington, D...."
6018,9999.0,120,2008.0,7.3,NaN,"Drama, History, War",Özhan Eren,114.0,NaN,"During the Sarikamis Battle, the Ottoman army ..."
6015,10000.0,the terror,1963.0,5.0,NaN,"Horror, Thriller",Roger Corman,81.0,NaN,A young officer in Napoleon's Army pursues a m...
0,NaN,batman,2000.0,9.5,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
len(df['English_Title'])

10001

In [64]:
df['YEAR'].replace({2000:1000})

Vote
2011509    1994.0
1980200    2008.0
1760209    2010.0
1609459    1999.0
1570194    1994.0
            ...
6021       1925.0
6020       2017.0
6018       2008.0
6015       1963.0
0          1000.0
Name: YEAR, Length: 10001, dtype: float64

In [65]:
df.rename(columns={'YEAR':'AÑO'}, inplace=True)

In [67]:
df.loc[0]

Rank                                                           1
Title                                   The Shawshank Redemption
Year                                                        1994
Score                                                        9.3
Metascore                                                   80.0
Genre                                                      Drama
Vote                                                     2011509
Director                                          Frank Darabont
Runtime                                                      142
Revenue                                                    28.34
Description    Two imprisoned men bond over a number of years...
Name: 0, dtype: object

In [68]:
df['Title']+' '+df['Director']

0       The Shawshank Redemption Frank Darabont
1             The Dark Knight Christopher Nolan
2                   Inception Christopher Nolan
3                      Fight Club David Fincher
4                Pulp Fiction Quentin Tarantino
                         ...
9995      When Night Is Falling Patricia Rozema
9996               Stachka Sergei M. Eisenstein
9997           November Criminals Sacha Gervasi
9998                             120 Özhan Eren
9999                    The Terror Roger Corman
Length: 10000, dtype: object

In [69]:
(df['Score']+(df['Metascore']/10))/2

0       8.65
1       8.70
2       8.10
3       7.70
4       9.15
        ...
9995     NaN
9996     NaN
9997    4.20
9998     NaN
9999     NaN
Length: 10000, dtype: float64

In [76]:
df['TotalScore'] = (df['Score']+(df['Metascore']/10))/2
df

,Rank,Title,Year,Score,Metascore,...,Director,Runtime,Revenue,Description,TotalScore
0,1,The Shawshank Redemption,1994,9.3,80.0,...,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...,8.65
1,2,The Dark Knight,2008,9.0,84.0,...,Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...,8.70
2,3,Inception,2010,8.8,74.0,...,Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...,8.10
3,4,Fight Club,1999,8.8,66.0,...,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...,7.70
4,5,Pulp Fiction,1994,8.9,94.0,...,Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst...",9.15
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,When Night Is Falling,1995,6.6,NaN,...,Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ...",NaN
9996,9997,Stachka,1925,7.6,NaN,...,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...,NaN
9997,9998,November Criminals,2017,5.3,31.0,...,Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D....",4.20
9998,9999,120,2008,7.3,NaN,...,Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ...",NaN
9999,10000,The Terror,1963,5.0,NaN,...,Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...,NaN

In [77]:
df.drop(columns=['TotalScore'], inplace = True)
df

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
0,1,The Shawshank Redemption,1994,9.3,80.0,Drama,2011509,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
1,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",1980200,Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
2,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",1760209,Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
3,4,Fight Club,1999,8.8,66.0,Drama,1609459,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
4,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",1570194,Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,When Night Is Falling,1995,6.6,NaN,"Drama, Romance",6022,Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ..."
9996,9997,Stachka,1925,7.6,NaN,Drama,6021,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...
9997,9998,November Criminals,2017,5.3,31.0,"Crime, Drama, Mystery",6020,Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D...."
9998,9999,120,2008,7.3,NaN,"Drama, History, War",6018,Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ..."
9999,10000,The Terror,1963,5.0,NaN,"Horror, Thriller",6015,Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...

In [80]:
df.drop(index=1)

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
0,1,The Shawshank Redemption,1994,9.3,80.0,Drama,2011509,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
2,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",1760209,Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
3,4,Fight Club,1999,8.8,66.0,Drama,1609459,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
4,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",1570194,Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
5,6,Forrest Gump,1994,8.8,82.0,"Drama, Romance",1532024,Robert Zemeckis,142,330.25,"The presidencies of Kennedy and Johnson, Vietn..."
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,When Night Is Falling,1995,6.6,NaN,"Drama, Romance",6022,Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ..."
9996,9997,Stachka,1925,7.6,NaN,Drama,6021,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...
9997,9998,November Criminals,2017,5.3,31.0,"Crime, Drama, Mystery",6020,Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D...."
9998,9999,120,2008,7.3,NaN,"Drama, History, War",6018,Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ..."
9999,10000,The Terror,1963,5.0,NaN,"Horror, Thriller",6015,Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...

In [82]:
df.drop(index=df[df['Score']==9.3].index)

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
1,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",1980200,Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
2,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",1760209,Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
3,4,Fight Club,1999,8.8,66.0,Drama,1609459,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
4,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",1570194,Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
5,6,Forrest Gump,1994,8.8,82.0,"Drama, Romance",1532024,Robert Zemeckis,142,330.25,"The presidencies of Kennedy and Johnson, Vietn..."
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,When Night Is Falling,1995,6.6,NaN,"Drama, Romance",6022,Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ..."
9996,9997,Stachka,1925,7.6,NaN,Drama,6021,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...
9997,9998,November Criminals,2017,5.3,31.0,"Crime, Drama, Mystery",6020,Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D...."
9998,9999,120,2008,7.3,NaN,"Drama, History, War",6018,Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ..."
9999,10000,The Terror,1963,5.0,NaN,"Horror, Thriller",6015,Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...

In [84]:
filtro6 = df['Score'] == 9.3
df.drop(index=df[filtro6].index)

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
1,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",1980200,Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
2,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",1760209,Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
3,4,Fight Club,1999,8.8,66.0,Drama,1609459,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
4,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",1570194,Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
5,6,Forrest Gump,1994,8.8,82.0,"Drama, Romance",1532024,Robert Zemeckis,142,330.25,"The presidencies of Kennedy and Johnson, Vietn..."
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,When Night Is Falling,1995,6.6,NaN,"Drama, Romance",6022,Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ..."
9996,9997,Stachka,1925,7.6,NaN,Drama,6021,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...
9997,9998,November Criminals,2017,5.3,31.0,"Crime, Drama, Mystery",6020,Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D...."
9998,9999,120,2008,7.3,NaN,"Drama, History, War",6018,Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ..."
9999,10000,The Terror,1963,5.0,NaN,"Horror, Thriller",6015,Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...

In [87]:
df.sort_values(by='Score', ascending = False)

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
9603,9604,Aloko Udapadi,2017,9.6,NaN,"Drama, History",6450,Chathra Weeraman,113,NaN,Aloko Udapadi (Light Arose) is an Epic Film of...
1645,1646,Dag II,2016,9.4,NaN,"Drama, War",98484,Alper Caglar,135,NaN,In a desolate war zone where screams of the in...
3914,3915,Hababam Sinifi,1975,9.4,NaN,"Comedy, Drama",32457,Ertem Egilmez,87,NaN,"Lazy, uneducated students share a very close b..."
5979,5980,Wheels,2014,9.4,NaN,Drama,15447,Tim Gagliardo,115,NaN,Two suicidal paraplegic junkies hustle their w...
5482,5483,Aynabaji,2016,9.4,NaN,"Crime, Mystery, Thriller",17926,Amitabh Reza Chowdhury,147,NaN,Ayna is an actor and the prison is his stage. ...
...,...,...,...,...,...,...,...,...,...,...,...
4422,4423,Kod Adi K.O.Z.,2015,1.6,NaN,"Crime, Mystery",26541,Celal Çimen,114,NaN,A look at the 17-25 December 2013 corruption s...
6340,6341,Saving Christmas,2014,1.5,18.0,"Comedy, Family",13831,Darren Doane,79,2.78,Kirk is enjoying the annual Christmas party ex...
3632,3633,Cumali Ceber: Allah Seni Alsin,2017,1.3,NaN,Comedy,36319,Gökhan Gök,100,NaN,Cumali Ceber goes to a vacation with his child...
8972,8973,Smolensk,2016,1.3,NaN,"Drama, Thriller",7270,Antoni Krauze,120,NaN,Inspired by true events of 2010 Polish Air For...
9852,9853,Kartoffelsalat,2015,1.3,NaN,"Comedy, Horror",6171,Michael David Pate,81,NaN,When a deadly zombie virus infects a school in...

In [88]:
df.sort_index()

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
0,1,The Shawshank Redemption,1994,9.3,80.0,Drama,2011509,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
1,2,The Dark Knight,2008,9.0,84.0,"Action, Crime, Drama",1980200,Christopher Nolan,152,534.86,When the menace known as the Joker emerges fro...
2,3,Inception,2010,8.8,74.0,"Action, Adventure, Sci-Fi",1760209,Christopher Nolan,148,292.58,A thief who steals corporate secrets through t...
3,4,Fight Club,1999,8.8,66.0,Drama,1609459,David Fincher,139,37.03,An insomniac office worker and a devil-may-car...
4,5,Pulp Fiction,1994,8.9,94.0,"Crime, Drama",1570194,Quentin Tarantino,154,107.93,"The lives of two mob hitmen, a boxer, a gangst..."
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,When Night Is Falling,1995,6.6,NaN,"Drama, Romance",6022,Patricia Rozema,94,1.19,"An uptight and conservative woman, working on ..."
9996,9997,Stachka,1925,7.6,NaN,Drama,6021,Sergei M. Eisenstein,95,NaN,A group of oppressed factory workers go on str...
9997,9998,November Criminals,2017,5.3,31.0,"Crime, Drama, Mystery",6020,Sacha Gervasi,85,NaN,"After his friend is murdered, a Washington, D...."
9998,9999,120,2008,7.3,NaN,"Drama, History, War",6018,Özhan Eren,114,NaN,"During the Sarikamis Battle, the Ottoman army ..."
9999,10000,The Terror,1963,5.0,NaN,"Horror, Thriller",6015,Roger Corman,81,NaN,A young officer in Napoleon's Army pursues a m...

In [90]:
df.sort_values(by='Title', inplace = True)

In [91]:
df[['Title', 'Score']].head(10)

                                     Title  Score
3165                                   '71    7.2
6645                           'A' gai wak    7.4
8655                         'A' gai wak 2    7.2
9286             'I Know Where I'm Going!'    7.6
6794    (T)Raumschiff Surprise - Periode 1    5.4
4349               *batteries not included    6.6
5579  ...E tu vivrai nel terrore! L'aldilà    6.9
4399               ...and justice for all.    7.4
8686                                  0.45    5.7
6144                                 02:22    5.7

In [93]:
df.sort_values(by='Genre', inplace=True)
df

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
9008,9009,Himmatwala,2013,1.7,NaN,Action,7229,Sajid Khan,150,0.27,When a temple priest commits suicide after bei...
8344,8345,Redline,2007,4.0,24.0,Action,8286,Andy Cheng,95,6.88,A gorgeous young automobile fanatic--and front...
6935,6936,Ong-bak 3,2010,5.0,38.0,Action,11786,Tony Jaa,99,0.01,Ong Bak 3 picks up where Ong Bak 2 had left of...
7820,7821,Boss,2013,5.5,42.0,Action,9333,Anthony D'Souza,143,NaN,"A man fights for people's rights. In Delhi, he..."
2648,2649,The Man with the Iron Fists,2012,5.4,51.0,Action,57491,RZA,95,15.63,"On the hunt for a fabled treasure of gold, a b..."
...,...,...,...,...,...,...,...,...,...,...,...
779,780,For a Few Dollars More,1965,8.3,74.0,Western,195742,Sergio Leone,132,15.00,Two bounty hunters with the same intentions te...
8363,8364,One-Eyed Jacks,1961,7.2,NaN,Western,8250,Marlon Brando,141,NaN,"After robbing a Mexican bank, Dad Longworth ta..."
7346,7347,Ride the High Country,1962,7.5,NaN,Western,10602,Sam Peckinpah,94,NaN,An ex-union soldier is hired to transport gold...
911,912,A Fistful of Dollars,1964,8.0,65.0,Western,171778,Sergio Leone,99,14.50,A wandering gunfighter plays two rival familie...
6183,6184,Joe Kidd,1972,6.5,52.0,Western,14536,John Sturges,88,NaN,An ex-bounty hunter reluctantly helps a wealth...

In [94]:
df[['Score', 'Genre']].head(10)

      Score   Genre
9008    1.7  Action
8344    4.0  Action
6935    5.0  Action
7820    5.5  Action
2648    5.4  Action
9369    7.3  Action
9647    6.2  Action
5412    5.8  Action
4356    6.2  Action
7584    7.2  Action

In [95]:
df.sort_values(by=['Genre', 'Score'], ascending=[True, False], inplace=True)
df[['Score', 'Genre']].head(10)

      Score   Genre
9369    7.3  Action
7584    7.2  Action
9647    6.2  Action
4356    6.2  Action
5412    5.8  Action
7820    5.5  Action
2648    5.4  Action
6935    5.0  Action
8344    4.0  Action
9008    1.7  Action

In [96]:
df['Runtime'].nlargest(5)

8862    450
5377    366
6957    325
2401    321
5220    317
Name: Runtime, dtype: int64

In [97]:
df.nlargest(10, 'Runtime')

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
8862,8863,Sátántangó,1994,8.5,NaN,Drama,7449,Béla Tarr,450,NaN,Plotting on a payment they are about to receiv...
5377,5378,La meglio gioventù,2003,8.5,89.0,"Drama, Romance",18572,Marco Tullio Giordana,366,0.25,An Italian epic that follows the lives of two ...
6957,6958,Heaven's Gate,1980,6.8,57.0,"Adventure, Drama, Western",11718,Michael Cimino,325,3.48,A dramatization of the real-life Johnson Count...
2401,2402,Gangs of Wasseypur,2012,8.2,89.0,"Action, Comedy, Crime",65385,Anurag Kashyap,321,NaN,A clash between Sultan and Shahid Khan leads t...
5220,5221,Novecento,1976,7.7,NaN,"Drama, History",19560,Bernardo Bertolucci,317,NaN,The epic tale of a class struggle in twentieth...
4676,4677,Gettysburg,1993,7.7,NaN,"Drama, History, War",23838,Ron Maxwell,259,10.77,"In 1863, the Northern and Southern forces figh..."
9771,9772,"Dr. Mabuse, der Spieler",1922,7.9,NaN,"Crime, Mystery, Thriller",6247,Fritz Lang,242,NaN,Arch-criminal Dr. Mabuse sets out to make a fo...
3838,3839,Hamlet,1996,7.8,NaN,Drama,33464,Kenneth Branagh,242,4.41,"Hamlet, Prince of Denmark, returns home to fin..."
9905,9906,Napoleon,1927,7.6,NaN,"Biography, Drama, History",6099,Abel Gance,240,NaN,A film about the French general's youth and ea...
530,531,Gone with the Wind,1939,8.2,97.0,"Drama, History, Romance",255457,Victor Fleming,238,198.68,A manipulative woman and a roguish man conduct...

In [98]:
df.nsmallest(10, 'Runtime')

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
4095,4096,Sherlock Jr.,1924,8.2,NaN,"Action, Comedy, Romance",29985,Buster Keaton,45,0.98,"A film projectionist longs to be a detective, ..."
7977,7978,Hotarubi no mori e,2011,7.9,NaN,"Animation, Drama, Fantasy",8949,Takahiro Ômori,45,NaN,Hotaru is rescued by a spirit when she gets lo...
4839,4840,Koto no ha no niwa,2013,7.6,NaN,"Animation, Drama, Romance",22516,Makoto Shinkai,46,NaN,A 15-year-old boy and 27-year-old woman find a...
9149,9150,The Call of Cthulhu,2005,7.3,NaN,"Fantasy, Horror, Mystery",7034,Andrew Leman,47,NaN,"While sorting the affairs of his late Uncle, a..."
7166,7167,Blood: The Last Vampire,2000,6.7,44.0,"Animation, Action, Horror",11115,Hiroyuki Kitakubo,48,NaN,"In Japan, the vampire-hunter Saya, who is a po..."
8547,8548,Dragon Ball Z: Fukkatsu no Fusion!! Gokuu to V...,1995,7.8,NaN,"Animation, Action, Sci-Fi",7904,Shigeyasu Yamauchi,51,NaN,The universe is thrown into dimensional chaos ...
9652,9653,Doragon bôru Z: Ryûken bakuhatsu!! Gokû ga yar...,1995,7.6,NaN,"Animation, Action, Sci-Fi",6397,Mitsuo Hashimoto,52,NaN,A mysterious being named Hoy arrives on Earth ...
9207,9208,The Beast of Yucca Flats,1961,2.4,NaN,"Horror, Sci-Fi",6961,Coleman Francis,54,NaN,A defecting Soviet scientist is hit by a nucle...
8602,8603,Seven Chances,1925,8.0,NaN,"Comedy, Romance",7808,Buster Keaton,56,0.21,A man learns he will inherit a fortune if he m...
8574,8575,The Navigator,1924,8.0,NaN,"Action, Comedy, Romance",7857,Donald Crisp,59,1.48,Two spoiled rich people find themselves trappe...

In [99]:
df['Score'].mean()

6.62753

In [100]:
df['Score'].describe()

count    10000.000000
mean         6.627530
std          1.041204
min          1.300000
25%          6.000000
50%          6.700000
75%          7.400000
max          9.600000
Name: Score, dtype: float64

In [101]:
df['Score'].count()

10000

In [102]:
df['Genre'].value_counts()

Comedy, Drama, Romance          494
Drama                           482
Comedy, Drama                   407
Drama, Romance                  365
Comedy                          357
                               ...
Biography, History, Thriller      1
Action, Crime, Comedy             1
Biography, Fantasy, Horror        1
Action, War                       1
Adventure, Comedy, Sport          1
Name: Genre, Length: 486, dtype: int64

In [103]:
df['Score'].value_counts()

7.2    431
7.3    422
7.1    391
6.8    387
6.6    386
      ...
1.5      1
9.2      1
1.6      1
9.3      1
9.6      1
Name: Score, Length: 82, dtype: int64

In [104]:
df['Score'].value_counts(normalize=True)

7.2    0.0431
7.3    0.0422
7.1    0.0391
6.8    0.0387
6.6    0.0386
        ...
1.5    0.0001
9.2    0.0001
1.6    0.0001
9.3    0.0001
9.6    0.0001
Name: Score, Length: 82, dtype: float64

In [105]:
df['Genre'].value_counts()

Comedy, Drama, Romance          494
Drama                           482
Comedy, Drama                   407
Drama, Romance                  365
Comedy                          357
                               ...
Biography, History, Thriller      1
Action, Crime, Comedy             1
Biography, Fantasy, Horror        1
Action, War                       1
Adventure, Comedy, Sport          1
Name: Genre, Length: 486, dtype: int64

In [106]:
df.groupby(['Genre'])

In [107]:
genre_group = df.groupby(['Genre'])

In [109]:
genre_group.get_group('Action, Crime, Comedy')

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
4662,4663,Knockin' on Heaven's Door,1997,8.0,NaN,"Action, Crime, Comedy",23930,Thomas Jahn,87,0.0,"Two young men, Martin and Rudi, both suffering..."

In [110]:
filtro7 = df['Genre'] == 'Drama'
df.loc[filtro7]

,Rank,Title,Year,Score,Metascore,Genre,Vote,Director,Runtime,Revenue,Description
5979,5980,Wheels,2014,9.4,NaN,Drama,15447,Tim Gagliardo,115,NaN,Two suicidal paraplegic junkies hustle their w...
0,1,The Shawshank Redemption,1994,9.3,80.0,Drama,2011509,Frank Darabont,142,28.34,Two imprisoned men bond over a number of years...
9161,9162,Aruvi,2016,8.9,NaN,Drama,7021,Arun Prabhu Purushothaman,130,NaN,A gentle girl born and brought up amidst the e...
9294,9295,Canim Kardesim,1973,8.8,NaN,Drama,6853,Ertem Egilmez,92,NaN,Two poor men try to find a television as a las...
4996,4997,Anand,1971,8.8,NaN,Drama,21209,Hrishikesh Mukherjee,122,NaN,The story of a terminally ill man who wishes t...
...,...,...,...,...,...,...,...,...,...,...,...
7963,7964,Cherry,2012,4.8,33.0,Drama,8979,Stephen Elliott,98,0.00,"A troubled young woman moves to San Francisco,..."
2703,2704,Showgirls,1995,4.7,16.0,Drama,55966,Paul Verhoeven,128,20.30,"Nomi, a young drifter, arrives in Las Vegas to..."
7674,7675,God's Not Dead 2,2016,4.4,22.0,Drama,9717,Harold Cronk,120,20.77,When a high school teacher is asked a question...
8926,8927,Glen or Glenda,1953,4.2,NaN,Drama,7338,Edward D. Wood Jr.,65,NaN,A psychiatrist tells two stories: one of a tra...
2343,2344,The Room,2003,3.6,NaN,Drama,67311,Tommy Wiseau,99,NaN,Johnny is a successful banker who lives happil...

In [111]:
df.loc[filtro7]['Score'].value_counts()

7.4    38
7.6    36
7.8    35
7.3    32
7.2    30
8.1    28
8.0    28
7.1    23
7.5    21
7.9    20
7.7    19
6.8    19
7.0    14
6.4    12
6.5    12
6.9    12
8.2    11
8.3    11
6.6    10
6.2     9
6.7     9
6.3     6
5.7     5
5.9     5
8.4     4
6.0     4
8.8     3
5.5     3
8.5     3
5.3     3
5.6     2
6.1     2
4.8     2
4.2     1
4.4     1
4.7     1
5.0     1
9.4     1
5.4     1
5.8     1
9.3     1
8.7     1
8.9     1
3.6     1
Name: Score, dtype: int64

In [114]:
genre_group['Score'].value_counts().head(15)

Genre              Score
Action             6.2      2
                   1.7      1
                   4.0      1
                   5.0      1
                   5.4      1
                   5.5      1
                   5.8      1
                   7.2      1
                   7.3      1
Action, Adventure  5.4      2
                   6.1      2
                   7.6      2
                   4.8      1
                   5.1      1
                   5.2      1
Name: Score, dtype: int64

In [115]:
genre_group['Score'].value_counts().loc['Action, Adventure, Comedy']

Score
6.7    8
6.8    7
5.7    6
5.8    6
6.1    6
6.2    6
6.6    6
7.0    6
5.2    5
5.5    5
6.0    5
6.3    5
7.3    5
5.0    4
5.4    4
7.1    4
3.5    3
4.2    3
4.4    3
5.6    3
6.5    3
4.8    2
4.9    2
5.1    2
6.4    2
6.9    2
7.2    2
7.7    2
8.2    2
1.8    1
1.9    1
2.8    1
3.0    1
3.7    1
3.8    1
4.1    1
4.3    1
4.5    1
4.6    1
4.7    1
5.3    1
5.9    1
7.6    1
7.8    1
7.9    1
8.0    1
8.1    1
Name: Score, dtype: int64

In [116]:
genre_group['Score'].value_counts(normalize=True).loc['Action, Adventure, Comedy']

Score
6.7    0.058394
6.8    0.051095
5.7    0.043796
5.8    0.043796
6.1    0.043796
6.2    0.043796
6.6    0.043796
7.0    0.043796
5.2    0.036496
5.5    0.036496
6.0    0.036496
6.3    0.036496
7.3    0.036496
5.0    0.029197
5.4    0.029197
7.1    0.029197
3.5    0.021898
4.2    0.021898
4.4    0.021898
5.6    0.021898
6.5    0.021898
4.8    0.014599
4.9    0.014599
5.1    0.014599
6.4    0.014599
6.9    0.014599
7.2    0.014599
7.7    0.014599
8.2    0.014599
1.8    0.007299
1.9    0.007299
2.8    0.007299
3.0    0.007299
3.7    0.007299
3.8    0.007299
4.1    0.007299
4.3    0.007299
4.5    0.007299
4.6    0.007299
4.7    0.007299
5.3    0.007299
5.9    0.007299
7.6    0.007299
7.8    0.007299
7.9    0.007299
8.0    0.007299
8.1    0.007299
Name: Score, dtype: float64

In [117]:
genre_group['Score'].median()

Genre
Action                          5.65
Action, Adventure               6.30
Action, Adventure, Biography    6.95
Action, Adventure, Comedy       6.10
Action, Adventure, Crime        6.00
                                ...
Thriller, Mystery               8.80
Thriller, War                   6.65
Thriller, Western               6.90
War                             7.40
Western                         7.40
Name: Score, Length: 486, dtype: float64

In [118]:
genre_group['Score'].median().loc['War']

7.4

In [119]:
genre_group['Score'].agg(['mean', 'median'])

                                  mean  median
Genre
Action                        5.430000    5.65
Action, Adventure             6.500000    6.30
Action, Adventure, Biography  6.950000    6.95
Action, Adventure, Comedy     5.926277    6.10
Action, Adventure, Crime      6.042857    6.00
...                                ...     ...
Thriller, Mystery             8.800000    8.80
Thriller, War                 6.775000    6.65
Thriller, Western             6.900000    6.90
War                           7.400000    7.40
Western                       7.510000    7.40

[486 rows x 2 columns]

In [120]:
genre_group['Score'].agg(['mean', 'median']).loc['War']

mean      7.4
median    7.4
Name: War, dtype: float64

In [121]:
filtro8 = df['Genre'] == 'Western'
df.loc[filtro8]['Title']

111     The Good, the Bad and the Ugly
521       Once Upon a Time in the West
779             For a Few Dollars More
911               A Fistful of Dollars
2623            The Outlaw Josey Wales
6985                 The Great Silence
8506                    The Gunfighter
7346             Ride the High Country
6365          She Wore a Yellow Ribbon
8460              The Man from Laramie
7614                            Hombre
3092                        Pale Rider
6705           The Sons of Katie Elder
7724                          Big Jake
8363                    One-Eyed Jacks
5782              How the West Was Won
9638                      Nevada Smith
4073                     Hang 'Em High
8735                     The War Wagon
6183                          Joe Kidd
Name: Title, dtype: object